{% comment %}
  Renders a message with an optional icon.

  Usage:
  {% render 'notification-message',
    icon: settings.cart_drawer_custom_message_icon,
    message: settings.cart_drawer_custom_message_message,
    is_closable: settings.cart_drawer_custom_message_closable,
    visibility: settings.cart_drawer_custom_message_visibility,
    color_scheme: settings.cart_drawer_custom_message_color_scheme,
    class: class,
    context: 'cart-drawer'
  %}

  Accepts:
  - id: {String} - Unique ID for this message, optional. If passed the closed state of this element will be persisted in localStorage.
  - icon: {String} - Optional icon to show
  - message: {String} - Message to show
  - is_closable: {Boolean} - Whether to show an X or not
  - visibility: {String} CSS class for the Device visibility (e.g. 'hidden-xs')
  - color_scheme: {String} The id of the color scheme for the notification
  - class: {String} Additional CSS clases to apply to the .notification-message element
  - context: {String} Context as to where the notification is being shown. This affects it's appearance.
{% endcomment %}

{%- liquid
    assign is_variant_metafield = false
    assign variant_metafield_has_values = false
    assign value = message

    if value contains '[' and value contains '.' and value contains ']'
        assign value = value | replace: '[', '' | replace: ']', ''
        assign escaped_value = value | strip_html
        assign is_variant_metafield = true
        assign namespace = escaped_value | split: '.' | first
        assign key = escaped_value | split: '.' | last

        for variant in product.variants
            if variant.metafields[namespace][key] != blank
                assign variant_metafield_has_values = true
                break
            endif
        endfor
    endif
-%}

{%- unless is_variant_metafield and variant_metafield_has_values == false -%}
    {% if is_closable %}
      <lazy-script src="{{ 'closable-element.js' | asset_url }}" defer="defer"></lazy-script>
    {% endif %}

    {% if is_closable %}<closable-element {% if id %}id="{{ id }}" data-persist-close="true" {% endif %}class="block hidden-during-load">{% endif %}

    <div class="notification-message relative{% if context == 'cart-drawer' %} flex mt-1{% else %} inline-flex m-0{% endif %} items-center {{ visibility }} gap-1 color-{{ color_scheme }} gradient t5 lh-15 pl-1{% if icon != blank and is_closable != true %} pr-2{% else %} pr-1{% endif %}{% if color_scheme.settings.background_gradient != blank %} border-0{% endif %} {{ class }}">
      {%- if icon != blank -%}
        {% render 'icon', class: 'self-start', size: 22, icon: icon %}
      {%- endif -%}

      <div class="rte">
        {%- if variant_metafield_has_values -%}
          {%- for variant in product.variants -%}
            {%- assign metafield = variant.metafields[namespace][key] -%}
            <span data-variant-data-product-id="{{ product.id }}" data-variant-data-variant-id="{{ variant.id }}" {% if variant != product.selected_or_first_available_variant %} class="hidden"{% endif %}>
              {{- metafield | metafield_tag | default: block.settings.value_when_empty -}}
            </span>
          {%- endfor -%}
        {%- else -%}
          {{ message }}
        {%- endif -%}
      </div>

      {% if is_closable %}
        <button
            type="button"
            class="closable-element__close button-close button button--tertiary focus-inset absolute z-2 p-0 tap-target text-current no-js-hidden js-close-button"
            aria-label="{{ 'accessibility.close' | t }}"
        >
          {% render 'icon-close' %}
        </button>
      {% endif %}
    </div>

    {% if is_closable %}</closable-element>{% endif %}
{%- endunless -%}