{%- comment -%}theme-check-disable NestedSnippet{%- endcomment -%}
{% comment %}
  Renders a grid or carousel of products

  Accepts:
  - products: {Array} List of products to render (Mandtator)
  - product_count: {Number} Count of the products (optional)
  - show_onboarding: {Boolean} Shows the onboarding products when empty (optional)

  Usage:
{% endcomment %}

{%- if request.design_mode or section.settings.hide_when_empty == false or product_count > 0 or show_onboarding == true -%}
  {%# Disables the animation %}
  {%- assign section_index = 4 -%}

  {%- liquid
    assign columns_to_display = product_count

    if columns_to_display == blank and request.design_mode or show_onboarding == true
      assign columns_to_display = 6
    endif

    assign columns_desktop = section.settings.columns_desktop | plus: 0
    assign columns_mobile = section.settings.columns_mobile | plus: 0

    assign show_mobile_slider = true
    assign show_desktop_slider = true
    assign columns_desktop_scale = true

    if product_count < 4
      assign show_desktop_slider = false
    else
      assign show_desktop_slider = true
    endif
  -%}

  <div class="color-{{ section.settings.color_scheme }} hidden-during-load isolate gradient {{ section.settings.line_separator }} no-js-hidden">
    <div class="product-compare-container section__inner {{ section.settings.top_padding }} {{ section.settings.bottom_padding }}
      {% if section.settings.full_width %} section-grid-wrapper--full-width{% endif %}"
     id="product-compare-{{ section.id }}"
     data-id="{{ section.id }}"
    >
      {% if section.settings.show_view_all_link and section.settings.view_all_text != blank %}
        {% capture view_all %}
          <div class="section-view-all product-compare__view-all{% if settings.animations_reveal_on_scroll and section_index > 2 %} scroll-trigger animate--fade-in{% endif %}">
            <a
                href="{{ section.settings.view_all_link }}"
                class="link un-underlined-link button-with-icon button-with-icon--right {{ section.settings.view_all_text_size }}"
            >
              {{ section.settings.view_all_text }}
              {% render 'icon-arrow' %}
            </a>
          </div>
        {% endcapture %}
      {% endif %}

      {% render 'standard-section-heading',
          section_name: 'product-compare',
          section: section,
          view_all: view_all
      %}

      <slider-component class="compare-grid--slider slider-mobile-gutter page-width-desktop relative
        {% unless settings.carousel_arrows %} slide-component--show-arrows{% endunless %}
        {% if section.settings.full_width %} slider-component-full-width{% endif %}
        {% if show_mobile_slider == false %} page-width{% endif %}
        {% if show_desktop_slider %} slider-component-desktop{% endif %}
        {% if settings.animations_reveal_on_scroll and section_index > 2 %} scroll-trigger animate--slide-in{% endif %}"
      >
        <ul
          id="Slider-{{ section.id }}"
          data-id="{{ section.id }}"
          class="compare-grid section-grid grid product-grid contains-card contains-card--product
            {% if settings.card_style == 'standard' %} contains-card--standard{% endif %}
            grid--{{ columns_desktop }}-col-desktop
            {% if columns_desktop_scale %} grid--scaled{% endif %}
            {% if products != blank and product_count > 0 %}
              grid--{{ columns_mobile }}-col-tablet-down
            {% else %}
              grid--2-col-tablet-down
            {% endif %}
            {% if show_mobile_slider or show_desktop_slider %}
              slider
              {% if show_desktop_slider %} slider--desktop{% endif %}
              {% if show_mobile_slider %} slider--tablet grid--peek{% endif %}
            {% endif %}"
          role="list"
          aria-label="{{ 'general.slider.name' | t }}"
        >
          {% if products != blank and product_count > 0 %}
            {%- for product in products -%}
              <li
                id="Slide-{{ section.id }}-{{ forloop.index }}"
                data-product-id="{{ product.id }}"
                class="grid__item
                  {% if section.settings.card_color_scheme != section.settings.color_scheme %}
                    grid__item--has-color-scheme
                    color-{{ section.settings.card_color_scheme }} gradient compare-card border-radius-panel
                    {% if block.settings.card_shadow %} card--shadow{% endif %}
                  {% endif %}
                  {% if show_mobile_slider or show_desktop_slider %} slider__slide{% endif %}
                  {% if settings.animations_reveal_on_scroll and section_index > 2 %} scroll-trigger animate--slide-in{% endif %}"
                {% if settings.animations_reveal_on_scroll and section_index > 2 %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >
                {%- for block in section.blocks -%}
                  <div class="compare-cell compare-cell--{{ block.type }} text-{{ section.settings.compare_text_alignment }} justify-{{ section.settings.compare_text_alignment }} {{ block.settings.line_separator }} {{ block.settings.cell_visibility }} border-{{ block.settings.line_separator_style }} {{ block.settings.top_padding }} {{ block.settings.bottom_padding }}">
                    <div class="{% if block.type == 'product_summary' or block.type == 'product_switcher' or block.type == 'image' %} w-full{% endif %}">
                      {%- if block.settings.compare_label != blank or block.type contains 'metafield' -%}
                        <p class="compare-cell__label mt-0 mb-05 font-{{ section.settings.label_text_weight }} {{ section.settings.label_text_size }} {{ section.settings.label_text_transform }}">
                          {%- if block.type contains 'metafield' -%}
                            {{ block.settings.title }}
                          {%- else -%}
                            {{ block.settings.compare_label }}
                          {%- endif -%}
                        </p>
                      {%- endif -%}

                      {%- liquid
                        assign cell = ""
                        capture cell
                          if block.type == 'title' or block.type == 'product_price' or block.type == 'description' or block.type == 'rating' or block.type == 'product_badges' or block.type == 'vendor' or block.type == 'type' or block.type == 'weight' or block.type == 'variants_text' or block.type == 'product_summary' or block.type == 'metafield' or block.type == 'metafield_scale' or block.type == 'metafield_boolean' or block.type == 'variant_option_text' or block.type == 'product_switcher'
                            render 'product-block', section: section, block: block, product: product, products: products, section_name: 'product-compare-product', is_featured: true
                          else
                            render 'standard-blocks', section_name: 'product-compare', block: block, default_url: product.url
                          endif
                        endcapture
                        assign cell = cell | strip

                        if cell != empty
                          echo cell
                        endif
                      -%}

                      {%- if cell == empty -%}
                        <div class="{{ block.settings.text_size }}{% if block.settings.text_style == 'uppercase' %} caption-with-letter-spacing{% elsif block.settings.text_style == 'subtitle' %} subtitle{% endif %}" {{ block.shopify_attributes }}>
                          {{ block.settings.text_when_empty | default: section.settings.text_when_empty }}
                        </div>
                      {%- endif -%}
                    </div>
                  </div>
                {%- endfor -%}
                {%- assign last_index = forloop.index -%}
              </li>
            {%- endfor -%}
          {% else %}
            {%- for i in (1..columns_to_display) -%}
              <li
                id="Slide-{{ section.id }}-{{ forloop.index }}"
                class="grid__item
                  {% if section.settings.card_color_scheme != section.settings.color_scheme %}color-{{ section.settings.card_color_scheme }} gradient bg-scroll compare-card{% endif %}
                  {% if show_mobile_slider or show_desktop_slider %} slider__slide{% endif %}
                  {% if settings.animations_reveal_on_scroll and section_index > 2 %} scroll-trigger animate--slide-in{% endif %}"
                {% if settings.animations_reveal_on_scroll and section_index > 2 %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >
                {%- assign placeholder_index = forloop.rindex | at_most: 6 -%}
                {%- assign placeholder_image = 'product-' | append: placeholder_index -%}
                {% render 'card-product-compare', placeholder_image: placeholder_image %}
                {%- assign last_index = forloop.index -%}
              </li>
            {%- endfor -%}
          {%- endif -%}
        </ul>

        {%- if show_mobile_slider or show_desktop_slider -%}
          <div class="slider-buttons page-width no-js-hidden">
            <div class="slider-counter caption visually-hidden">
              <span class="slider-counter--current">1</span>
              <span aria-hidden="true"> / </span>
              <span>{{ 'general.slider.of' | t }}</span>
              <span class="slider-counter--total">{{ columns_to_display }}</span>
            </div>

            <div class="slider-scrollbar__track" style="--num-slides: {{ columns_to_display }}" data-num-slides="{{ columns_to_display }}">
              <div class="slider-scrollbar__indicator"></div>
            </div>
          </div>

          <div class="slider-buttons--sticky-container z-1 pointer-events-none">
            <div class="slider-buttons--sticky-inner pointer-events-none">
              <div class="slider-buttons slider-buttons--sticky no-js-hidden">
                <button
                  type="button"
                  class="slider-button button-control tap-target slider-button--prev pointer-events-auto"
                  name="previous"
                  aria-label="{{ 'general.slider.previous_slide' | t }}"
                  aria-controls="Slider-{{ section.id }}"
                >
                  {% render 'icon-caret' %}
                </button>

                <button
                  type="button"
                  class="slider-button button-control tap-target slider-button--next pointer-events-auto"
                  name="next"
                  aria-label="{{ 'general.slider.next_slide' | t }}"
                  aria-controls="Slider-{{ section.id }}"
                >
                  {% render 'icon-caret' %}
                </button>
              </div>
            </div>
          </div>
        {%- endif -%}
      </slider-component>
    </div>

    <div class="compare-loading-container absolute inset">
      <div class="compare-loading absolute inset relative">
        {%- render 'loading-spinner' -%}
      </div>
    </div>
  </div>
{%- endif -%}