<div class="color-{{ section.settings.color_scheme }} isolate gradient {{ section.settings.line_separator }} {{ section.settings.top_padding }} {{ section.settings.bottom_padding }} {{ section.settings.visibility }} {%- render 'class-time-of-day-to-show' -%}
  {% if section.settings.include_margins %}page-width{% endif %}
  {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
>
  {%- for block in section.blocks -%}
    {% render block %}
  {%- endfor -%}
</div>

{% schema %}
{
  "name": "Apps",
  "tag": "section",
  "class": "section section-apps",
  "settings": [
    {
      "type": "checkbox",
      "id": "include_margins",
      "default": true,
      "label": "Make section margins the same as theme"
    },
    {
      "type": "header",
      "content": "Style"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Section color scheme",
      "info": "This may only control the background color of this section. Specific colors within the app should be found within the app settings.",
      "default": "scheme-1"
    },
    {
      "type": "select",
      "id": "line_separator",
      "options": [
        {
          "value": "",
          "label": "Off"
        },
        {
          "value": "border-top",
          "label": "Top"
        },
        {
          "value": "border-bottom",
          "label": "Bottom"
        },
        {
          "value": "border-top border-bottom",
          "label": "Both"
        }
      ],
      "default": "",
      "label": "Line separator"
    },
    {
      "type": "header",
      "content": "Advanced"
    },
    {
      "type": "select",
      "id": "top_padding",
      "options": [
        {
          "value": "pt-0",
          "label": "0"
        },
        {
          "value": "pt-s05",
          "label": "0.5"
        },
        {
          "value": "pt-s",
          "label": "1"
        },
        {
          "value": "pt-s15",
          "label": "1.5"
        },
        {
          "value": "pt-s2",
          "label": "2"
        }
      ],
      "default": "pt-0",
      "label": "Top section spacing"
    },
    {
      "type": "select",
      "id": "bottom_padding",
      "options": [
        {
          "value": "pb-0",
          "label": "0"
        },
        {
          "value": "pb-s05",
          "label": "0.5"
        },
        {
          "value": "pb-s",
          "label": "1"
        },
        {
          "value": "pb-s15",
          "label": "1.5"
        },
        {
          "value": "pb-s2",
          "label": "2"
        }
      ],
      "default": "pb-0",
      "label": "Bottom section spacing"
    },
    {
      "type": "select",
      "id": "visibility",
      "options": [
        {
          "value": "visible-xs",
          "label": "Mobile"
        },
        {
          "value": "hidden-xs",
          "label": "Desktop"
        },
        {
          "value": "",
          "label": "Both"
        }
      ],
      "default": "",
      "info": "Lots of hidden content could be harmful for SEO.",
      "label": "Show on"
    },
    
  {
    "type": "checkbox",
    "id": "show_at_specific_time_of_day",
    "default": false,
    "label": "Only show at specific times of the day",
    "info": "Uses the customers' local time. Always shows in Theme Editor."
  },
  {
    "type": "paragraph",
    "visible_if": "{{ section.settings.show_at_specific_time_of_day }}",
    "content": "Lots of hidden content could be harmful for SEO. Don't overuse this."
  },
  {
    "type": "checkbox",
    "id": "show_time_morning",
    "visible_if": "{{ section.settings.show_at_specific_time_of_day }}",
    "default": true,
    "label": "Show in the morning (5am - 12pm)"
  },
  {
    "type": "checkbox",
    "id": "show_time_afternoon",
    "visible_if": "{{ section.settings.show_at_specific_time_of_day }}",
    "default": true,
    "label": "Show in the afternoon (12pm - 5pm)"
  },
  {
    "type": "checkbox",
    "id": "show_time_evening",
    "visible_if": "{{ section.settings.show_at_specific_time_of_day }}",
    "default": true,
    "label": "Show in the evening (5pm - 9pm)"
  },
  {
    "type": "checkbox",
    "id": "show_time_night",
    "visible_if": "{{ section.settings.show_at_specific_time_of_day }}",
    "default": true,
    "label": "Show at night (9pm - 5am)"
  }

  ],
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "Apps"
    }
  ]
}
{% endschema %}
