{%- comment -%}theme-check-disable SchemaJsonFormat{%- endcomment -%}
{%- liquid
  assign has_social_icons = true
  if settings.social_facebook_link == blank and settings.social_instagram_link == blank and settings.social_youtube_link == blank and settings.social_tiktok_link == blank and settings.social_x_link == blank and settings.social_pinterest_link == blank and settings.social_snapchat_link == blank and settings.social_tumblr_link == blank and settings.social_vimeo_link == blank and settings.social_threads_link == blank and settings.social_linkedin_link == blank and settings.social_whatsapp_link == blank and settings.social_custom_icon == blank
    assign has_social_icons = false
  endif

  if section.blocks.size == 9
    assign footer_grid_class = 'grid--3-col-tablet'
  elsif section.blocks.size > 6
    assign footer_grid_class = 'grid--4-col-desktop'
  elsif section.blocks.size > 4
    assign footer_grid_class = 'grid--3-col-tablet'
  endif

  if section.settings.enable_country_selector and localization.available_countries.size > 1
    assign show_country_picker = true
  endif

  if section.settings.enable_language_selector and localization.available_languages.size > 1
    assign show_language_picker = true
  endif

  assign color_scheme_bottom_light = section.settings.color_scheme_bottom_light
  if color_scheme_bottom_light
    assign background_lighter = section.settings.color_scheme_bottom.settings.background | color_lighten: 10
  endif

  assign date = 'now' | date: '%Y'
-%}

<link rel="stylesheet" href="{{ 'section-footer.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-payment.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-social.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-accordion.css' | asset_url }}" media="print" onload="this.media='all'">

{% if section.settings.top_image %}
  <div class="footer-image" style="background-image: url({{ section.settings.top_image | image_url: height: section.settings.top_image.height }}); height: {{ section.settings.top_image.height }}px">
  </div>
{% endif %}

<footer{% if section.settings.let_it_snow %} class="let-it-snow-let-it-snow-let-it-snow"{% endif %}>
  {%- if section.blocks.size > 0 or section.settings.payment_enable -%}
    <div class="color-{{ section.settings.color_scheme }} gradient{% if section.blocks.size > 0 %} section__inner{% else %} pt-s05 pb-s05{% endif %}">
      <div class="page-width">
        {%- if section.blocks.size > 0 -%}
          <div class="footer__blocks-wrapper grid grid--1-col grid--2-col grid--4-col-tablet {{ footer_grid_class }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
            {%- for block in section.blocks -%}
              <div
                class="footer-block grid__item{% if block.settings.wider %} footer-block--wider{% endif %}{% if block.type == 'link_list' %} footer-block--menu{% endif %}"
                {{ block.shopify_attributes }}
              >
                {%- liquid
                  if block.settings.collapsible and block.settings.heading != blank
                    assign collapsible = true
                  else
                    assign collapsible = false
                  endif
                -%}

                {%- if block.settings.image != blank -%}
                  {%- capture image -%}
                    {%- liquid
                      assign image_height = block.settings.image_width | divided_by: block.settings.image.aspect_ratio
                      assign image_width = block.settings.image_width | times: 3
                    -%}
                    <div
                      class="footer-block__image-wrapper {% if block.settings.image_placement == 'top' %}mb-2{% elsif block.settings.image_placement == 'below_heading' %} mb-1{% elsif block.settings.image_placement == 'below_description' %}mt-2{% endif %}"
                      style="max-width: min(100%, {{ block.settings.image_width }}px);"
                    >
                      {{
                        block.settings.image
                        | image_url: width: image_width
                        | image_tag:
                          loading: 'lazy',
                          fetchpriority: 'low',
                          widths: '50, 100, 150, 200, 300, 400, 550, 800, 1100',
                          height: image_height,
                          width: block.settings.image_width
                      }}
                    </div>
                  {%- endcapture -%}
                {%- else -%}
                  {%- assign image = "" -%}
                {%- endif -%}

                {%- capture column_content -%}
                  {%- case block.type -%}
                    {%- when '@app' -%}
                      {% render block %}

                    {%- when 'link_list' -%}
                      <ul class="footer-block__details-content list-unstyled{% if collapsible == false %} footer-block--not-collapsible{% endif %}">
                        {%- if block.settings.menu != blank -%}
                          {%- for link in block.settings.menu.links -%}
                            <li>
                              <a
                                  href="{{ link.url }}"
                                  class="link link--text focus-inset full-unstyled-link--foreground t4 footer__link"
                              >
                                {{ link.title | escape }}
                              </a>
                            </li>
                          {%- endfor -%}
                        {%- else -%}
                          <li><a href="#" class="link link--text focus-inset full-unstyled-link--foreground t4 footer__link">{{ 'onboarding.example_link' | t }} 1</a></li>
                          <li><a href="#" class="link link--text focus-inset full-unstyled-link--foreground t4 footer__link">{{ 'onboarding.example_link' | t }} 2</a></li>
                          <li><a href="#" class="link link--text focus-inset full-unstyled-link--foreground t4 footer__link">{{ 'onboarding.example_link' | t }} 3</a></li>
                          <li><a href="#" class="link link--text focus-inset full-unstyled-link--foreground t4 footer__link">{{ 'onboarding.example_link' | t }} 4</a></li>
                        {%- endif -%}
                      </ul>

                    {%- when 'image_and_text' -%}
                      <div{% if collapsible == false %} class="footer-block--not-collapsible"{% endif %}>
                        {%- if block.settings.description != blank -%}
                          <div class="rte t4">{{ block.settings.description }}</div>
                        {%- endif -%}

                        {%- if image and block.settings.image_placement == 'below_description' -%}
                          {{ image }}
                        {%- endif -%}
                      </div>

                  {%- endcase -%}
                {%- endcapture -%}

                {%- if collapsible -%}
                  {%- if image and block.settings.image_placement == 'top' -%}
                    <div class="visible-md">{{ image }}</div>
                  {%- endif -%}

                  <footer-accordion class="custom-accordion">
                    <details id="Details-collapsible_{{ block.id }}">
                      <summary id="Summary-collapsible_{{ block.id }}" class="t2" role="button" aria-expanded="false">
                        <h2 class="accordion__title inline-richtext t3">
                          {{- block.settings.heading -}}
                        </h2>
                        {% render 'icon-caret' %}
                      </summary>
                      <div class="custom-accordion__panel custom-scrollbar">
                        <div class="flex">
                          <div class="accordion__content" id="CollapsibleAccordion-collapsible_{{ block.id }}" role="region" aria-labelledby="Summary-collapsible_{{ block.id }}">
                            {%- if image and block.settings.image_placement == 'top' -%}
                              <div class="visible-xs">{{ image }}</div>
                            {%- elsif image and block.settings.image_placement == 'below_heading' -%}
                              {{ image }}
                            {%- endif -%}

                            {{ column_content }}
                          </div>
                        </div>
                      </div>
                    </details>
                  </footer-accordion>
                {%- else -%}

                  {%- if image and block.settings.image_placement == 'top' -%}
                    {{ image }}
                  {%- endif -%}

                  {%- if block.settings.heading != blank -%}
                    <h2 class="mt-0 t3 inline-richtext">{{- block.settings.heading -}}</h2>
                  {%- endif -%}

                  {%- if image and block.settings.image_placement == 'below_heading' -%}
                    {{ image }}
                  {%- endif -%}

                  {{ column_content }}
                {%- endif -%}
              </div>
            {%- endfor -%}
          </div>
        {%- endif -%}

        {%- if section.settings.payment_enable -%}
          <div class="footer__payment flex{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
            <span class="visually-hidden">{{ 'sections.footer.payment' | t }}</span>
            <ul class="list list-payment pt-0" role="list">
              {%- for type in shop.enabled_payment_types -%}
                <li class="list-payment__item">
                  {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                </li>
              {%- endfor -%}
              {%- if settings.custom_payment_icon -%}
                <li class="list-payment__item">
                  {%- assign custom_payment_icon_width = 22 | times: settings.custom_payment_icon.aspect_ratio | round -%}
                  {{ settings.custom_payment_icon | image_url: height: 88 | image_tag:
                    class: 'custom-payment-icon',
                    loading: 'lazy',
                    height: 22,
                    width: custom_payment_icon_width,
                    alt: settings.custom_payment_icon.alt
                  }}
                </li>
              {%- endif -%}
            </ul>
          </div>
        {%- endif -%}
      </div>
    </div>
  {%- endif -%}

  <div class="footer__content-bottom color-{{ section.settings.color_scheme_bottom }} gradient"{% if color_scheme_bottom_light %} style="--color-background: {{ background_lighter.red }},{{ background_lighter.green }},{{ background_lighter.blue }}; --gradient-background: rgb({{ background_lighter.red }},{{ background_lighter.green }},{{ background_lighter.blue }})"{% endif %}>
    <div class="page-width">
      <div class="md:pb-1 md:pt-1{% if section.settings.color_scheme_bottom == section.settings.color_scheme and color_scheme_bottom_light == false %} border-top pt-1{% else %} pt-s05{% endif %} pb-s05">
        <div class="flex flex-col-reverse mt-1px md:flex-row flex-wrap gap-1 justify-between items-center">

          <div class="flex flex-col-reverse md:flex-row text-center md:text-left">
            <div class="flex flex-wrap items-center justify-center md:justify-start mt-2 md:mt-0 xs:mb-1">
              <small class="copyright__content copyright__content-copy t7">{{ 'sections.footer.copyright_html' | t: date: date, store_url: routes.root_url, store_name: shop.name }}</small>
              <small class="copyright__content copyright__content-powered t7 ml-05">{{ powered_by_link }}</small>
            </div>

            {%- if section.settings.bottom_bar_links != blank -%}
              <span class="hidden-xs">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
              <ul class="footer__mini-links flex flex-wrap items-center justify-center md:justify-start list-unstyled mt-1 md:mt-0">
                {%- for link in section.settings.bottom_bar_links.links -%}
                  {%- if link != blank -%}
                    <li>
                      <small class="copyright__content t7">
                        <a href="{{ link.url }}" class="tap-target--small">{{ link.title }}</a>
                      </small>
                    </li>
                  {%- endif -%}
                {%- endfor -%}
              </ul>
            {%- endif -%}
          </div>

          <div class="flex flex-col md:flex-row items-center gap-1 md:gap-2">
            <div class="flex flex-col md:flex-row items-center">
              {%- if shop.features.follow_on_shop? and section.settings.enable_follow_on_shop -%}
                <div>
                  {% comment %} TODO: enable theme-check once `login_button` is accepted as valid filter {% endcomment %}
                  {% # theme-check-disable %}
                  {{ shop | login_button: action: 'follow' }}
                  {% # theme-check-enable %}
                </div>
              {%- endif -%}

              {%- if section.settings.show_social and has_social_icons -%}
                {%- render 'social-icons', class: 'footer__list-social' -%}
              {%- endif -%}
            </div>

            {%- if show_country_picker or show_language_picker -%}
              <div>
                <localization-form data-prevent-hide>
                  {%- form 'localization', id: 'FooterLocalizationForm', class: 'localization-form' -%}
                    <div>
                      {%- render 'localization',
                          localPosition: 'FooterLocalization',
                          show_country_picker: show_country_picker,
                          show_language_picker: show_language_picker,
                          show_country_name: false,
                          show_country_filter: section.settings.show_country_filter,
                          always_show_currency: true,
                          abbreviate: false
                      -%}
                    </div>
                  {%- endform -%}
                </localization-form>
              </div>
            {%- endif -%}
          </div>

        </div>
      </div>
    </div>
  </div>
</footer>

{% javascript %}
  customElements.whenDefined('custom-accordion').then(() => {
    class FooterAccordion extends CustomAccordion {
      constructor() {
        super();
        this.wasDesktop = window.matchMedia('(min-width: 750px)').matches;
        this.updateOpenState();
        window.addEventListener('resizeend', this.updateOpenState.bind(this));
      }

      updateOpenState() {
        if (window.matchMedia('(min-width: 750px)').matches) {
          this.detailsElem.open = true;
          this.summaryElem.setAttribute('tabindex', '-1');
          this.summaryElem.classList.add('pointer-events-none');
          this.wasDesktop = true;
        } else if (this.wasDesktop) {
          this.detailsElem.open = false;
          this.summaryElem.removeAttribute('tabindex');
          this.summaryElem.classList.remove('pointer-events-none');
          this.wasDesktop = false;
        }
      }
    }

    customElements.define('footer-accordion', FooterAccordion);
  });
{% endjavascript %}

{% schema %}
{
  "name": "Footer",
  "class": "section section-footer bmrk-footer",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "link_list",
      "name": "Menu",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Menu",
          "label": "Heading"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "Menu",
          "info": "Displays only top-level menu items."
        },
        {
          "type": "checkbox",
          "id": "collapsible",
          "visible_if": "{{ block.settings.heading != blank }}",
          "default": true,
          "label": "Collapsible row on mobile"
        }
      ]
    },
    {
      "type": "image_and_text",
      "name": "Image and text",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Store name",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description",
          "default": "<p>Share contact information, store details and brand content with your customers.</p>"
        },
        {
          "type": "checkbox",
          "id": "collapsible",
          "visible_if": "{{ block.settings.heading != blank }}",
          "default": true,
          "label": "Collapsible row on mobile"
        },
        {
          "type": "checkbox",
          "id": "wider",
          "default": false,
          "label": "Wider on desktop"
        },
        {
          "type": "header",
          "content": "Image"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 15,
          "max": 250,
          "step": 5,
          "default": 100,
          "unit": "px",
          "label": "Image width"
        },
        {
          "type": "select",
          "id": "image_placement",
          "options": [
            {
              "value": "top",
              "label": "Top"
            },
            {
              "value": "below_heading",
              "label": "Below heading"
            },
            {
              "value": "below_description",
              "label": "Below description"
            }
          ],
          "default": "top",
          "label": "Image placement"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "image_picker",
      "id": "top_image",
      "label": "Image above footer",
      "info": "Sits on top of the footer and tiles horizontally. Images should be wide and short."
    },
    {
      "type": "link_list",
      "id": "bottom_bar_links",
      "label": "Bottom bar links",
      "info": "Shows top level links only. Maximum of 4 links is recommended."
    },
    {
      "type": "header",
      "content": "Follow on Shop",
      "info": "To allow customers to follow your store on the Shop app from your storefront, Shop Pay must be enabled. [Learn more](https://help.shopify.com/manual/online-store/themes/customizing-themes/follow-on-shop)"
    },
    {
      "type": "checkbox",
      "id": "enable_follow_on_shop",
      "default": true,
      "label": "Enable Follow on Shop"
    },
    {
      "type": "header",
      "content": "Social media icons",
      "info": "To display your social media accounts, link them in the [theme settings](/editor?context=theme&category=socials)."
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": true,
      "label": "Show social media icons"
    },
    {
      "type": "header",
      "content": "Country/region selector",
      "info": "To add a country/region, go to your [market settings.](/admin/settings/markets)"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "Enable country/region selector"
    },
    {
      "type": "checkbox",
      "id": "show_country_filter",
      "default": false,
      "label": "Show country search bar"
    },
    {
      "type": "header",
      "content": "Language selector",
      "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "Enable language selector"
    },
    {
      "type": "header",
      "content": "Payment methods"
    },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "default": true,
      "label": "Show payment icons",
      "info": "To edit payment icons, edit the Shopify [payment settings](/admin/settings/payments)."

    },
    {
      "type": "header",
      "content": "Style"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Main color scheme",
      "default": "scheme-3"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme_bottom",
      "label": "Bottom bar color scheme",
      "default": "scheme-3"
    },
    {
      "type": "checkbox",
      "id": "color_scheme_bottom_light",
      "default": true,
      "label": "Use lighter background color"
    },
    {
      "type": "checkbox",
      "id": "let_it_snow",
      "default": false,
      "label": "Let it snow, let it snow, let it snow",
      "info": "Snow is white, so your footer needs to be dark to show the snow."
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      }
    ]
  }
}
{% endschema %}
