{%- comment -%}theme-check-disable NestedSnippet,LiquidTag{%- endcomment -%}
{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-facets.css' | asset_url | stylesheet_tag }}
{%- if settings.swatch_enabled -%}
  {{ 'component-swatch.css' | asset_url | stylesheet_tag }}
{%- endif -%}

<script src="{{ 'facets.js' | asset_url }}" defer="defer"></script>

{%- if section.settings.filter_type == 'vertical' -%}
  {%- style -%}
    :root {
      --vertical-facet-width: 24rem;
      --vertical-facet-gap: 3rem;
    }

    @media screen and (min-width: 990px) {
      :root {
        --vertical-facet-width: 28rem;
        --vertical-facet-gap: 4rem;
      }
    }

    @media screen and (min-width: 1100px) {
      :root {
        --vertical-facet-width: 30rem;
      }
    }
  {%- endstyle -%}
{%- endif -%}


{%- liquid
  assign columns_desktop = section.settings.columns_desktop | plus: 0
  if section.settings.filter_type == 'vertical' and columns_desktop > 2 and section.settings.enable_filtering
    assign columns_desktop = columns_desktop | minus: 1
  endif

  assign box_filters = section.settings.box_filters | downcase | newline_to_br | strip_newlines | split: '<br />'

  assign results = collection
  assign sort_by = results.sort_by | default: results.default_sort_by
  if results.url
    assign results_url = results.url
  else
    assign terms = results.terms | escape
    assign results_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by
  endif

  assign num_active_filters = 0

  if collection.filters != empty
    for filter in collection.filters
      if filter.type == 'price_range'
        if filter.min_value.value
          assign num_active_filters = num_active_filters | plus: 1
        endif

        if filter.max_value.value
          assign num_active_filters = num_active_filters | plus: 1
        endif
      else
        assign num_active_filters = num_active_filters | plus: filter.active_values.size
      endif
    endfor
  endif

  if section.settings.color_scheme_filter != section.settings.color_scheme
    assign filter_color_scheme = section.settings.color_scheme_filter
  endif

  if section.settings.color_scheme_filter_bar != section.settings.color_scheme
    assign color_scheme_filter_bar = section.settings.color_scheme_filter_bar
  endif

  assign open_all_accordions = section.settings.open_all_accordions
  assign uppercase_filter_titles = section.settings.uppercase_filter_titles
  assign filter_text_size = section.settings.filter_text_size
  assign show_total_count = true
-%}

<div class="section__inner pt-4 gradient color-{{ section.settings.color_scheme }} {{ section.settings.top_padding }} {{ section.settings.bottom_padding }}
      {% if uppercase_filter_titles %}filter-uppercase-titles{% endif %}"
     style="--font-size-primary: {{ filter_text_size }}rem; --font-size-secondary: {{ filter_text_size }}rem;--box-radius:{{ settings.panel_corner_radius }}px;
      {% if section.settings.filter_type == 'vertical' and filter_color_scheme %}--vertical-facet-padding:3rem;{% endif %}"
>
  {%- paginate collection.products by section.settings.products_per_page -%}
    <infinite-scroll data-infinite-scroll-enabled="{% if settings.pagination_style == 'infinite' %}true{% else %}false{% endif %}">

      <div class="{% if section.settings.filter_type == 'vertical' %} facets-vertical page-width{% unless section.settings.enable_filtering %} facets--no-filters{% endunless %}{% if section.settings.full_width %} page-width--wide{% endif %}{% endif %}">
        {%- if section.settings.enable_filtering or section.settings.enable_sorting -%}
          <aside
            aria-label="{{ 'products.facets.filter_by_label' | t }}"
            class="facets-wrapper{% if collection.all_products_count == 0 or results.filters.size == 0 %} facets-wrapper--no-filters{% endif %}{% unless section.settings.enable_filtering %} facets-wrapper--no-filters{% endunless %}{% if section.settings.filter_type != 'vertical' %} page-width{% if section.settings.full_width %} page-width--wide{% endif %}{% endif %}"
            id="main-collection-filters"
            data-id="{{ section.id }}"
          >
            {%- liquid
              if section.settings.filter_type == 'vertical'
                assign facets_color_scheme = filter_color_scheme
              else
                assign facets_color_scheme = color_scheme_filter_bar
              endif
            -%}
            {% render 'facets',
              results: collection,
              enable_filtering: section.settings.enable_filtering,
              enable_sorting: section.settings.enable_sorting,
              filter_type: section.settings.filter_type,
              show_filter_count: section.settings.show_filter_count,
              show_total_count: show_total_count,
              box_filters: box_filters,
              show_box_filter_count: section.settings.show_filter_count,
              paginate: paginate,
              show_more_number: section.settings.show_more_number,
              open_all_accordions: open_all_accordions,
              filter_color_scheme: facets_color_scheme,
              page_color_scheme: section.settings.color_scheme
            %}
          </aside>
        {%- endif -%}

        <div class="product-grid-container relative z-0" id="ProductGridContainer">
          {%- assign top_promos = section.blocks | where: 'type', 'top_promo' %}
          {%- if top_promos.size > 0 and paginate.current_page == 1 and num_active_filters == 0 -%}
            {%- assign top_promo_block = top_promos[0] -%}
            <div class="collection-top-promo mb-4{% unless section.settings.filter_type == 'vertical' %} page-width{% if section.settings.full_width %} page-width--wide{% endif %}{% endunless %} {{ top_promo_block.settings.visibility }}{% if top_promo_block.settings.show_at_specific_time_of_day and request.design_mode == false %}{% if top_promo_block.settings.show_time_morning == false %} hidden-morning {% endif %}{% if top_promo_block.settings.show_time_afternoon == false %} hidden-afternoon {% endif %}{% if top_promo_block.settings.show_time_evening == false %} hidden-evening {% endif %}{% if top_promo_block.settings.show_time_night == false %} hidden-night {% endif %}{% endif %} {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
                style="--overlay-opacity: {{ top_promo_block.settings.promo_image_overlay_opacity | divided_by: 100.0 }};--promo-min-height: {{ top_promo_block.settings.promo_image_min_height }}px;" {{ top_promo_block.shopify_attributes }}>
              {%- render 'promo-image',
                  class: '',
                  url: top_promo_block.settings.promo_url,
                  text: top_promo_block.settings.promo_text,
                  image: top_promo_block.settings.promo_image,
                  image_width: 600,
                  media_aspect_ratio: 'adapt',
                  text_position: top_promo_block.settings.promo_text_position,
                  text_alignment: top_promo_block.settings.promo_text_alignment,
                  text_size: top_promo_block.settings.promo_text_size,
                  text_color: top_promo_block.settings.promo_text_color,
                  text_padding: top_promo_block.settings.promo_text_padding,
                  placeholder_image: 'collection-apparel-1'
              -%}
            </div>
          {%- endif -%}

          {%- if collection.products.size == 0 -%}
            <div class="collection collection--empty relative page-width{% if section.settings.full_width %} page-width--wide{% endif %} mt-0" id="product-grid" data-id="{{ section.id }}">
              <div class="loading-overlay gradient"></div>
              <div class="title-wrapper center">
                <p class="h4-size mb-1">
                  {{ 'sections.collection_template.empty' | t -}}
                </p>
                <p>
                  {{ 'sections.collection_template.use_fewer_filters_html' | t: link: collection.url, class: 'un-underlined-link link' }}
                </p>
              </div>
            </div>
          {%- else -%}
            <div>
              {%- if section.settings.filter_type == 'vertical' -%}
                {%- if section.settings.enable_sorting -%}
                  <facet-filters-form class="facets facets-vertical-sort{% if color_scheme_filter_bar %} color-{{ color_scheme_filter_bar }} gradient border-radius-panel p-2 pl-3 box-content {% if section.settings.card_shadow %} card--shadow{% endif %}{% endif %} mb-2 small-hide no-js-hidden">
                    <form class="facets-vertical-form" id="FacetSortForm">
                      <div class="flex justify-between items-center w-full shrink-0">
                        {%- render 'loading-spinner' -%}

                        {% if show_total_count %}
                          <div class="product-count-vertical" role="status">
                            <h2 class="product-count__text font-medium text-body">
                              <span class="js-product-count">
                                {%- if collection.results_count -%}
                                  {{
                                    'templates.search.results_with_count'
                                    | t: terms: collection.terms, count: collection.results_count
                                  }}
                                {%- elsif collection.products_count == collection.all_products_count -%}
                                  {{ 'products.facets.product_count_simple' | t: count: collection.products_count }}
                                {%- else -%}
                                  {{
                                    'products.facets.product_count'
                                    | t: product_count: collection.products_count, count: collection.all_products_count
                                  }}
                                {%- endif -%}
                              </span>
                            </h2>
                          </div>
                        {%- else -%}
                          <div class="lh-1">&nbsp;</div>
                        {%- endif -%}

                        {% if section.settings.enable_sorting %}
                          <div class="facet-filters sorting">
                            <div class="facet-filters__field field button-with-icon button-with-icon--left">
                              {% render 'icon-sort' %}
                              <p class="facet-filters__label caption-large text-body visually-hidden">
                                <label for="Vertical-SortBy">{{ 'products.facets.sort_by_label' | t }}</label>
                              </p>
                              <div class="select">
                                {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
                                <select
                                    name="sort_by"
                                    class="styled-select facet-filters__sort select__select caption-large"
                                    id="Vertical-SortBy"
                                    aria-describedby="a11y-refresh-page-message"
                                >
                                  {%- for option in collection.sort_options -%}
                                    <option
                                        value="{{ option.value | escape }}"
                                        {% if option.value == sort_by %}
                                          selected="selected"
                                        {% endif %}
                                    >
                                      {{ option.name | escape }}
                                    </option>
                                  {%- endfor -%}
                                </select>
                                {% render 'icon-caret' %}
                              </div>
                            </div>
                            <noscript>
                              <button type="submit" class="facets__button-no-js button button--secondary">
                                {{ 'products.facets.sort_button' | t }}
                              </button>
                            </noscript>
                          </div>
                        {% endif %}
                      </div>
                    </form>
                  </facet-filters-form>
                {%- endif -%}

                {%- if section.settings.enable_filtering -%}
                  <div class="active-facets active-facets--vertical">
                    {% render 'active-facets', results: results, results_url: results_url %}
                  </div>
                {%- endif -%}
              {%- endif -%}

              {%- assign inline_promos = section.blocks | where: 'type', 'inline_promo' %}
              {%- if inline_promos.size > 0 and paginate.current_page == 1 and num_active_filters == 0 -%}
                {%- assign inline_promo_block = inline_promos[0] -%}
                {%- capture inline_promo -%}
                  <li class="grid__item collection-inline-promo {{ inline_promo_block.settings.visibility }}{% if inline_promo_block.settings.show_at_specific_time_of_day and request.design_mode == false %}{% if inline_promo_block.settings.show_time_morning == false %} hidden-morning {% endif %}{% if inline_promo_block.settings.show_time_afternoon == false %} hidden-afternoon {% endif %}{% if inline_promo_block.settings.show_time_evening == false %} hidden-evening {% endif %}{% if inline_promo_block.settings.show_time_night == false %} hidden-night {% endif %}{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
                      style="--overlay-opacity: {{ inline_promo_block.settings.promo_image_overlay_opacity | divided_by: 100.0 }};" {{ inline_promo_block.shopify_attributes }}>
                    {%- render 'promo-image',
                        class: '',
                        url: inline_promo_block.settings.promo_url,
                        text: inline_promo_block.settings.promo_text,
                        image: inline_promo_block.settings.promo_image,
                        image_width: 400,
                        media_aspect_ratio: 'adapt',
                        text_position: inline_promo_block.settings.promo_text_position,
                        text_alignment: inline_promo_block.settings.promo_text_alignment,
                        text_size: inline_promo_block.settings.promo_text_size,
                        text_color: inline_promo_block.settings.promo_text_color,
                        text_padding: inline_promo_block.settings.promo_text_padding,
                        placeholder_image: 'collection-apparel-3'
                    -%}
                  </li>
                {%- endcapture -%}
              {%- endif -%}

              <div class="collection relative{% if section.settings.filter_type != 'vertical' %} page-width{% if section.settings.full_width %} page-width--wide{% endif %}{% endif %}">
                <div class="loading-overlay gradient"></div>
                <ul
                  id="product-grid"
                  data-id="{{ section.id }}"
                  class="
                    grid product-grid grid--{{ section.settings.columns_mobile }}-col-tablet-down
                    grid--{{ columns_desktop }}-col-desktop
                     grid--scaled mt-0
                    collection-quick-add-bulk
                  "
                >
                  {%- for product in collection.products -%}
                    {%- if inline_promo_block and inline_promo_block.settings.position == forloop.index -%}
                      {{ inline_promo }}
                    {%- endif -%}

                    {% assign lazy_load = false %}
                    {%- if forloop.index > 2 -%}
                      {%- assign lazy_load = true -%}
                    {%- endif -%}
                    <li
                      class="grid__item js-pagination__item{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
                      {% if settings.animations_reveal_on_scroll %}
                        data-cascade
                        style="--animation-order: {{ forloop.index }};"
                      {% endif %}
                    >
                      {% render 'card-product',
                        card_product: product,
                        show_secondary_image: section.settings.show_secondary_image,
                        lazy_load: lazy_load,
                        section_id: section.id,
                        columns_desktop: section.settings.columns_desktop,
                        columns_mobile: section.settings.columns_mobile
                      %}
                    </li>
                  {%- endfor -%}
                </ul>

                {%- if paginate.pages > 1 -%}
                  {% render 'pagination', paginate: paginate, anchor: '' %}
                {%- endif -%}
              </div>
            </div>
          {%- endif -%}
        </div>
      </div>
    </infinite-scroll>
  {%- endpaginate -%}
</div>

{%- if settings.seo_schema_collection == 'theme' -%}
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "CollectionPage",
    "name": "{{ collection.title | escape }}",
    "description": {{ collection.description | strip_html | json }},
    "image": "{{ collection.image.src | image_url: '600x600' }}",
    "url": "{{ shop.url }}{{ collection.url }}",
    "mainEntity": {
      "@type": "ItemList",
      "itemListElement": [
        {% for product in collection.products %}
        {
          "@type": "ListItem",
          "position": {{ forloop.index }},
          "url": "{{ shop.url }}{{ product.url }}",
          "name": "{{ product.title | escape }}",
          "image": "{{ product.featured_image | image_url: '600x600' }}",
          "description": "{{ product.description | strip_html | escape | truncate: 150 }}"
        }{% if forloop.last == false %},{% endif %}
        {% endfor %}
      ]
    }
  }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "Product grid",
  "class": "section section-main-collection-product-grid",
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "default": false,
      "label": "Full width"
    },
    {
      "type": "range",
      "id": "products_per_page",
      "min": 8,
      "max": 48,
      "step": 1,
      "default": 16,
      "label": "Products per page"
    },
    {
      "type": "select",
      "id": "columns_desktop",
      "options": [
        {
          "value": "5",
          "label": "S"
        },
        {
          "value": "4",
          "label": "M"
        },
        {
          "value": "3",
          "label": "L"
        },
        {
          "value": "2",
          "label": "XL"
        }
      ],
      "default": "4",
      "label": "Card size on desktop"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "Number of columns on mobile",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        }
      ]
    },
    {
      "type": "select",
      "id": "filter_type",
      "options": [
        {
          "value": "vertical",
          "label": "Side panel"
        },
        {
          "value": "drawer",
          "label": "Drawer"
        }
      ],
      "default": "vertical",
      "label": "Filter layout on desktop",
      "info": "Drawer is the default mobile layout."
    },
    {
      "type": "header",
      "content": "Filtering and sorting"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": true,
      "label": "Enable filtering",
      "info": "Customize filters with the Search & Discovery app. [Learn more](https://help.shopify.com/manual/online-store/search-and-discovery/filters)"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "default": true,
      "label": "Enable sorting"
    },
    {
      "type": "checkbox",
      "id": "show_filter_count",
      "default": true,
      "label": "Show product count next to options"
    },
    {
      "type": "checkbox",
      "id": "uppercase_filter_titles",
      "default": true,
      "label": "Uppercase filter titles"
    },
    {
      "type": "checkbox",
      "id": "open_all_accordions",
      "default": true,
      "label": "Open collapsible filters by default"
    },
    {
      "type": "range",
      "id": "show_more_number",
      "min": 4,
      "max": 100,
      "step": 2,
      "default": 12,
      "label": "Show a maximum of X options per filter"
    },
    {
      "type": "select",
      "id": "filter_text_size",
      "options": [
        {
          "value": "1.2",
          "label": "XS"
        },
        {
          "value": "1.3",
          "label": "S"
        },
        {
          "value": "1.4",
          "label": "M"
        },
        {
          "value": "1.5",
          "label": "L"
        }
      ],
      "default": "1.4",
      "label": "Filter text size"
    },
    {
      "type": "header",
      "content": "Filter boxes"
    },
    {
      "type": "paragraph",
      "content": "Show some filter options as boxes instead of checkboxes. Recommended only for very short filter labels."
    },
    {
      "type": "textarea",
      "id": "box_filters",
      "label": "Product options to box",
      "info": "One per line. Enter the name of the option as it appears in the admin area."
    },
    {
      "type": "select",
      "id": "box_filter_active",
      "options": [
        {
          "value": "fill",
          "label": "Fill"
        },
        {
          "value": "border",
          "label": "Border"
        }
      ],
      "default": "border",
      "label": "Active filter style"
    },
    {
      "type": "header",
      "content": "Visual filters"
    },
    {
      "type": "paragraph",
      "content": "Refer to the Shopify documentation for more on how to set up visual filters. [Learn more](https://help.shopify.com/en/manual/online-store/search-and-discovery/filters?locale=en#visual-filters)"
    },
    {
      "type": "checkbox",
      "id": "show_image_box_filter_border",
      "default": true,
      "label": "Show visual filter border"
    },
    {
      "type": "checkbox",
      "id": "show_image_box_filter_labels",
      "default": true,
      "label": "Show visual filter label"
    },
    {
      "type": "range",
      "id": "image_box_filter_cols",
      "min": 0,
      "max": 3,
      "step": 1,
      "default": 2,
      "label": "Images per row",
      "info": "Set to 0 to use automatic columns."
    },
    {
      "type": "select",
      "id": "image_box_filter_active",
      "options": [
        {
          "value": "fill",
          "label": "Fill"
        },
        {
          "value": "border",
          "label": "Border"
        },
        {
          "value": "color",
          "label": "Full color"
        }
      ],
      "default": "border",
      "label": "Active filter style"
    },
    {
      "type": "header",
      "content": "Swatch filters"
    },
    {
      "type": "paragraph",
      "content": "Swatches must first be set up in product page of the admin area. [Learn more](https://help.shopify.com/en/manual/custom-data/metafields/category-metafields/using-category-metafields)"
    },
    {
      "type": "range",
      "id": "swatch_size",
      "min": 1.4,
      "max": 3,
      "step": 0.1,
      "unit": "em",
      "label": "Swatch size",
      "default": 1.8
    },
    {
      "type": "checkbox",
      "id": "show_swatch_filter_labels",
      "default": true,
      "label": "Show swatch label"
    },
    {
      "type": "header",
      "content": "Style"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Section color scheme",
      "info": "To change the card color scheme, update your theme settings.",
      "default": "scheme-1"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme_drawer",
      "label": "Filter drawer color scheme",
      "default": "scheme-2"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme_filter",
      "label": "Side panel color scheme",
      "default": "scheme-2"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme_filter_bar",
      "label": "Horizontal bar color scheme",
      "default": "scheme-2"
    },
    {
      "type": "checkbox",
      "id": "card_shadow",
      "default": true,
      "info": "Only applies when the section color scheme and filter panel color scheme are different.",
      "label": "Show shadow around filter"
    },
    {
      "type": "header",
      "content": "Advanced"
    },
    {
      "type": "select",
      "id": "top_padding",
      "options": [
        {
          "value": "pt-0",
          "label": "0"
        },
        {
          "value": "pt-s05",
          "label": "0.5"
        },
        {
          "value": "pt-s",
          "label": "1"
        },
        {
          "value": "pt-s15",
          "label": "1.5"
        },
        {
          "value": "pt-s2",
          "label": "2"
        }
      ],
      "default": "pt-s",
      "label": "Top section spacing"
    },
    {
      "type": "select",
      "id": "bottom_padding",
      "options": [
        {
          "value": "pb-0",
          "label": "0"
        },
        {
          "value": "pb-s05",
          "label": "0.5"
        },
        {
          "value": "pb-s",
          "label": "1"
        },
        {
          "value": "pb-s15",
          "label": "1.5"
        },
        {
          "value": "pb-s2",
          "label": "2"
        }
      ],
      "default": "pb-s",
      "label": "Bottom section spacing"
    }
  ],
  "blocks": [
    {
      "type": "inline_promo",
      "name": "Inline promotion",
      "limit": 1,
      "settings": [
        {
          "type": "range",
          "id": "position",
          "min": 1,
          "max": 24,
          "step": 1,
          "default": 1,
          "label": "Show before product at this position",
          "info": "Only shows on page 1 of results."
        },
        {
          "type": "header",
          "content": "Image"
        },
        {
          "type": "image_picker",
          "id": "promo_image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "promo_image_overlay_opacity",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "%",
          "label": "Image overlay opacity",
          "default": 6
        },
        {
          "type": "header",
          "content": "Content"
        },
        {
          "type": "richtext",
          "id": "promo_text",
          "default": "<p>Inline promotion</p>",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "promo_url",
          "label": "Promo link"
        },
        {
          "type": "header",
          "content": "Appearance"
        },
        {
          "type": "select",
          "id": "promo_text_size",
          "options": [
            {
              "value": "h6-size",
              "label": "XS"
            },
            {
              "value": "h5-size",
              "label": "S"
            },
            {
              "value": "h4-size",
              "label": "M"
            },
            {
              "value": "h3-size",
              "label": "L"
            }
          ],
          "default": "h4-size",
          "label": "Text size"
        },
        {
          "type": "select",
          "id": "promo_text_position",
          "label": "Text position",
          "options": [
            {
              "value": "justify-start items-start",
              "label": "Top left"
            },
            {
              "value": "justify-center items-start",
              "label": "Top center"
            },
            {
              "value": "justify-end items-start",
              "label": "Top right"
            },
            {
              "value": "justify-start items-center",
              "label": "Middle left"
            },
            {
              "value": "justify-center items-center",
              "label": "Middle center"
            },
            {
              "value": "justify-end items-center",
              "label": "Middle right"
            },
            {
              "value": "justify-start items-end",
              "label": "Bottom left"
            },
            {
              "value": "justify-center items-end",
              "label": "Bottom center"
            },
            {
              "value": "justify-end items-end",
              "label": "Bottom right"
            }
          ],
          "default": "justify-center items-center"
        },
        {
          "type": "text_alignment",
          "id": "promo_text_alignment",
          "default": "center",
          "label": "Text alignment"
        },
        {
          "type": "range",
          "id": "promo_text_padding",
          "min": 0.6,
          "max": 2,
          "step": 0.1,
          "default": 1,
          "unit": "em",
          "label": "Text padding"
        },
        {
          "type": "color",
          "id": "promo_text_color",
          "label": "Text color",
          "default": "#FFFFFF"
        },
        {
          "type": "header",
          "content": "Visibility"
        },
        {
          "type": "select",
          "id": "visibility",
          "options": [
            {
              "value": "visible-xs",
              "label": "Mobile"
            },
            {
              "value": "hidden-xs",
              "label": "Desktop"
            },
            {
              "value": "",
              "label": "Both"
            }
          ],
          "default": "",
          "label": "Show on"
        },
        
  {
    "type": "checkbox",
    "id": "show_at_specific_time_of_day",
    "default": false,
    "label": "Only show at specific times of the day",
    "info": "Uses the customers' local time. Always shows in Theme Editor."
  },
  {
    "type": "paragraph",
    "visible_if": "{{ block.settings.show_at_specific_time_of_day }}",
    "content": "Lots of hidden content could be harmful for SEO. Don't overuse this."
  },
  {
    "type": "checkbox",
    "id": "show_time_morning",
    "visible_if": "{{ block.settings.show_at_specific_time_of_day }}",
    "default": true,
    "label": "Show in the morning (5am - 12pm)"
  },
  {
    "type": "checkbox",
    "id": "show_time_afternoon",
    "visible_if": "{{ block.settings.show_at_specific_time_of_day }}",
    "default": true,
    "label": "Show in the afternoon (12pm - 5pm)"
  },
  {
    "type": "checkbox",
    "id": "show_time_evening",
    "visible_if": "{{ block.settings.show_at_specific_time_of_day }}",
    "default": true,
    "label": "Show in the evening (5pm - 9pm)"
  },
  {
    "type": "checkbox",
    "id": "show_time_night",
    "visible_if": "{{ block.settings.show_at_specific_time_of_day }}",
    "default": true,
    "label": "Show at night (9pm - 5am)"
  }

      ]
    },
    {
      "type": "top_promo",
      "name": "Top promotion",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Always shows above the product grid."
        },
        {
          "type": "range",
          "id": "promo_image_min_height",
          "min": 60,
          "max": 600,
          "step": 20,
          "unit": "px",
          "label": "Minimum height",
          "default": 200
        },
        {
          "type": "header",
          "content": "Image"
        },
        {
          "type": "image_picker",
          "id": "promo_image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "promo_image_overlay_opacity",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "%",
          "label": "Image overlay opacity",
          "default": 6
        },
        {
          "type": "header",
          "content": "Content"
        },
        {
          "type": "richtext",
          "id": "promo_text",
          "default": "<p>Top promotion</p>",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "promo_url",
          "label": "Promo link"
        },
        {
          "type": "header",
          "content": "Appearance"
        },
        {
          "type": "select",
          "id": "promo_text_size",
          "options": [
            {
              "value": "h6-size",
              "label": "XS"
            },
            {
              "value": "h5-size",
              "label": "S"
            },
            {
              "value": "h4-size",
              "label": "M"
            },
            {
              "value": "h3-size",
              "label": "L"
            }
          ],
          "default": "h4-size",
          "label": "Text size"
        },
        {
          "type": "select",
          "id": "promo_text_position",
          "label": "Text position",
          "options": [
            {
              "value": "justify-start items-start",
              "label": "Top left"
            },
            {
              "value": "justify-center items-start",
              "label": "Top center"
            },
            {
              "value": "justify-end items-start",
              "label": "Top right"
            },
            {
              "value": "justify-start items-center",
              "label": "Middle left"
            },
            {
              "value": "justify-center items-center",
              "label": "Middle center"
            },
            {
              "value": "justify-end items-center",
              "label": "Middle right"
            },
            {
              "value": "justify-start items-end",
              "label": "Bottom left"
            },
            {
              "value": "justify-center items-end",
              "label": "Bottom center"
            },
            {
              "value": "justify-end items-end",
              "label": "Bottom right"
            }
          ],
          "default": "justify-center items-center"
        },
        {
          "type": "text_alignment",
          "id": "promo_text_alignment",
          "default": "center",
          "label": "Text alignment"
        },
        {
          "type": "range",
          "id": "promo_text_padding",
          "min": 0.6,
          "max": 5,
          "step": 0.2,
          "default": 1,
          "unit": "em",
          "label": "Text padding"
        },
        {
          "type": "color",
          "id": "promo_text_color",
          "label": "Text color",
          "default": "#FFFFFF"
        },
        {
          "type": "header",
          "content": "Visibility"
        },
        {
          "type": "select",
          "id": "visibility",
          "options": [
            {
              "value": "visible-xs",
              "label": "Mobile"
            },
            {
              "value": "hidden-xs",
              "label": "Desktop"
            },
            {
              "value": "",
              "label": "Both"
            }
          ],
          "default": "",
          "label": "Show on"
        },
        
  {
    "type": "checkbox",
    "id": "show_at_specific_time_of_day",
    "default": false,
    "label": "Only show at specific times of the day",
    "info": "Uses the customers' local time. Always shows in Theme Editor."
  },
  {
    "type": "paragraph",
    "visible_if": "{{ block.settings.show_at_specific_time_of_day }}",
    "content": "Lots of hidden content could be harmful for SEO. Don't overuse this."
  },
  {
    "type": "checkbox",
    "id": "show_time_morning",
    "visible_if": "{{ block.settings.show_at_specific_time_of_day }}",
    "default": true,
    "label": "Show in the morning (5am - 12pm)"
  },
  {
    "type": "checkbox",
    "id": "show_time_afternoon",
    "visible_if": "{{ block.settings.show_at_specific_time_of_day }}",
    "default": true,
    "label": "Show in the afternoon (12pm - 5pm)"
  },
  {
    "type": "checkbox",
    "id": "show_time_evening",
    "visible_if": "{{ block.settings.show_at_specific_time_of_day }}",
    "default": true,
    "label": "Show in the evening (5pm - 9pm)"
  },
  {
    "type": "checkbox",
    "id": "show_time_night",
    "visible_if": "{{ block.settings.show_at_specific_time_of_day }}",
    "default": true,
    "label": "Show at night (9pm - 5am)"
  }

      ]
    }
  ]
}
{% endschema %}
