{%- comment -%}theme-check-disable NestedSnippet,SchemaJsonFormat{%- endcomment -%}
{%- if section.index == 1 or request.design_mode -%}
  {{ 'component-card.css' | asset_url | stylesheet_tag }}
  {{ 'component-price.css' | asset_url | stylesheet_tag }}
  {%- if settings.swatch_enabled -%}
    {{ 'component-swatch.css' | asset_url | stylesheet_tag }}
  {%- endif -%}
{%- else -%}
  <link rel="stylesheet" href="{{ 'component-card.css' | asset_url }}" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
  {%- if settings.swatch_enabled -%}
    <link rel="stylesheet" href="{{ 'component-swatch.css' | asset_url }}" media="print" onload="this.media='all'">
  {%- endif -%}
{%- endif -%}

<div class="color-{{ section.settings.color_scheme }} gradient no-js-hidden {{ section.settings.line_separator }} {{ section.settings.visibility }} {%- render 'class-time-of-day-to-show' -%}">
  <product-recommendations
     data-url="{{ routes.product_recommendations_url }}?limit={{ section.settings.products_to_show }}"
     data-section-id="{{ section.id }}"
     data-product-id="{{ product.id }}"
    class="collection-quick-add-bulk" data-id="{{ section.id }}">
    {% if recommendations.performed and recommendations.products_count > 0 %}
      <div class="related-products section__inner {{ section.settings.top_padding }} {{ section.settings.bottom_padding }}
        isolate{% if settings.animations_reveal_on_scroll and section.index > 1 %} scroll-trigger animate--slide-in{% endif %}
        {% if section.settings.full_width %} section-grid-wrapper--full-width{% endif %}">

        {% render 'standard-section-heading',
            section_name: 'related-products',
            section: section
        %}

        {%- liquid
          assign columns_to_display = recommendations.products_count
          assign columns_desktop = section.settings.columns_desktop | plus: 0
          assign columns_mobile = section.settings.columns_mobile | plus: 0

          assign show_mobile_slider = false
          if section.settings.mobile_layout == 'carousel' and recommendations.products.size > 1
            assign show_mobile_slider = true
          endif

          assign show_desktop_slider = false
          if section.settings.desktop_layout == 'carousel'
            assign show_desktop_slider = true
          endif

          assign columns_desktop_scale = true
        -%}

        <slider-component class="slider-mobile-gutter page-width-desktop
            {% unless settings.carousel_arrows %} slide-component--show-arrows{% endunless %}
            {% if section.settings.full_width %} slider-component-full-width{% endif %}
            {% if show_mobile_slider == false %} page-width{% endif %}
            {% if show_desktop_slider %} slider-component-desktop{% endif %}
            {% if settings.animations_reveal_on_scroll and section.index > 1 %} scroll-trigger animate--slide-in{% endif %}"
        >
          <ul
              id="Slider-{{ section.id }}"
              class="section-grid grid product-grid contains-card contains-card--product
              {% if settings.card_style == 'standard' %} contains-card--standard{% endif %}
              grid--{{ columns_desktop }}-col-desktop
              {% if columns_desktop_scale %} grid--scaled{% endif %}
              grid--{{ columns_mobile }}-col-tablet-down
              {% if show_mobile_slider or show_desktop_slider %}
                slider
                {% if show_desktop_slider %} slider--desktop{% endif %}
                {% if show_mobile_slider %} slider--tablet grid--peek{% endif %}
              {% endif %}"
              role="list"
              aria-label="{{ 'general.slider.name' | t }}"
          >
            {% for recommendation in recommendations.products %}
              <li
                  id="Slide-{{ section.id }}-{{ forloop.index }}"
                  class="grid__item
                  {% if show_mobile_slider or show_desktop_slider %} slider__slide{% endif %}
                  {% if settings.animations_reveal_on_scroll and section.index > 1 %} scroll-trigger animate--slide-in{% endif %}"
                  {% if settings.animations_reveal_on_scroll and section.index > 1 %}
                    data-cascade
                    style="--animation-order: {{ forloop.index }};"
                  {% endif %}
              >
                {% render 'card-product',
                  card_product: recommendation,
                  columns_desktop: section.settings.columns_desktop,
                  columns_mobile: section.settings.columns_mobile
                %}
              </li>
            {% endfor %}
          </ul>

          {%- if show_mobile_slider or show_desktop_slider -%}
            <div class="slider-buttons page-width no-js-hidden">
              <button
                  type="button"
                  class="slider-button button-control tap-target slider-button--prev"
                  name="previous"
                  aria-label="{{ 'general.slider.previous_slide' | t }}"
                  aria-controls="Slider-{{ section.id }}"
              >
                {% render 'icon-caret' %}
              </button>

              <div class="slider-counter caption visually-hidden">
                <span class="slider-counter--current">1</span>
                <span aria-hidden="true"> / </span>
                <span>{{ 'general.slider.of' | t }}</span>
                <span class="slider-counter--total">{{ columns_to_display }}</span>
              </div>

              <button
                  type="button"
                  class="slider-button button-control tap-target slider-button--next"
                  name="next"
                  aria-label="{{ 'general.slider.next_slide' | t }}"
                  aria-controls="Slider-{{ section.id }}"
              >
                {% render 'icon-caret' %}
              </button>

              <div class="slider-scrollbar__track" style="--num-slides: {{ columns_to_display }}" data-num-slides="{{ columns_to_display }}">
                <div class="slider-scrollbar__indicator"></div>
              </div>
            </div>
          {%- endif -%}
        </slider-component>
      </div>
    {% endif %}
  </product-recommendations>
</div>

{% schema %}
{
  "name": "Related products",
  "tag": "section",
  "class": "section section-related-products",
  "settings": [
    {
      "type": "paragraph",
      "content": "Dynamic recommendations use order and product information to change and improve over time. [Learn more](https://help.shopify.com/themes/development/recommended-products)"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 10,
      "step": 1,
      "default": 4,
      "label": "Maximum products to show"
    },
    {
      "type": "header",
      "content": "Grid/carousel"
    },
    {
      "type": "select",
      "id": "desktop_layout",
      "default": "carousel",
      "label": "Desktop layout",
      "options": [
        {
          "value": "carousel",
          "label": "Carousel"
        },
        {
          "value": "grid",
          "label": "Grid"
        }
      ]
    },
    {
      "type": "select",
      "id": "mobile_layout",
      "default": "carousel",
      "label": "Mobile layout",
      "options": [
        {
          "value": "carousel",
          "label": "Carousel"
        },
        {
          "value": "grid",
          "label": "Grid"
        }
      ]
    },
    {
      "type": "select",
      "id": "columns_desktop",
      "options": [
        {
          "value": "6",
          "label": "XS"
        },
        {
          "value": "5",
          "label": "S"
        },
        {
          "value": "4",
          "label": "M"
        },
        {
          "value": "3",
          "label": "L"
        },
        {
          "value": "2",
          "label": "XL"
        }
      ],
      "default": "4",
      "label": "Card size on desktop"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "Number of columns on mobile",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Set carousel/grid to full screen width",
      "default": false
    },
    {
      "type": "header",
      "content": "Header layout"
    },
    
  {
    "type": "select",
    "id": "content_max_width",
    "options": [
      {
        "value": "xs",
        "label": "XS"
      },
      {
        "value": "s",
        "label": "S"
      },
      {
        "value": "m",
        "label": "M"
      },
      {
        "value": "l",
        "label": "L"
      },
      {
        "value": "xl",
        "label": "XL"
      }
    ],
    "default": "m",
    "label": "Maximum heading width"
  },
  {
    "type": "text_alignment",
    "id": "desktop_heading_alignment",
    "default": "left",
    "label": "Heading alignment on desktop"
  },
  {
    "type": "text_alignment",
    "id": "mobile_heading_alignment",
    "default": "left",
    "label": "Heading alignment on mobile"
  }
,
    {
      "type": "header",
      "content": "Heading"
    },
    
  {
    "type": "inline_richtext",
    "id": "title",
    "default": "You may also like",
    "info": "Enter ++ for a line break.",
    "label": "Heading"
  },
  {
    "type": "select",
    "id": "italic_convert",
    "visible_if": "{{ section.settings.title != blank }}",
    "options": [
      {
        "value": "",
        "label": "Off (keep as italics)"
      },
      {
        "value": "light",
        "label": "Lighter"
      },
      {
        "value": "accent_color",
        "label": "Accent color"
      },
      {
        "value": "accent",
        "label": "Accent gradient color"
      },
      {
        "value": "outline",
        "label": "Outline"
      },
      {
        "value": "outline_accent",
        "label": "Outline - Accent color"
      },
      {
        "value": "glow",
        "label": "Glow - Accent color"
      },
      {
        "value": "glow_outline",
        "label": "Glow with outline - Accent color"
      }
    ],
    "info": "The colors above can be set in the color schemes. 'Outline' may not work with all fonts.",
    "default": "",
    "label": "Convert italic text to"
  },
  {
    "type": "select",
    "id": "heading_size",
    "visible_if": "{{ section.settings.title != blank }}",
    "options": [
      {
        "value": "h4",
        "label": "XS"
      },
      {
        "value": "h3",
        "label": "S"
      },
      {
        "value": "h2",
        "label": "M"
      },
      {
        "value": "h1",
        "label": "L"
      },
      {
        "value": "h0",
        "label": "XL"
      }
    ],
    "default": "h2",
    "label": "Heading size"
  }
,
    {
      "type": "header",
      "content": "Description"
    },
    
  {
    "type": "richtext",
    "id": "text",
    
    "label": "Description"
  },
  {
    "type": "select",
    "id": "text_size",
    "visible_if": "{{ section.settings.text != blank }}",
    "options": [
      {
        "value": "t6",
        "label": "2XS"
      },
      {
        "value": "t5",
        "label": "XS"
      },
      {
        "value": "t4",
        "label": "S"
      },
      {
        "value": "t3",
        "label": "M"
      },
      {
        "value": "t2",
        "label": "L"
      },
      {
        "value": "t1",
        "label": "XL"
      },
      {
        "value": "t0",
        "label": "2XL"
      }
    ],
    "default": "t3",
    "label": "Text size"
  }
,
    {
      "type": "header",
      "content": "Style"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "info": "To change the card color scheme, update your theme settings.",
      "default": "scheme-1"
    },
    {
      "type": "select",
      "id": "line_separator",
      "options": [
        {
          "value": "",
          "label": "Off"
        },
        {
          "value": "border-top",
          "label": "Top"
        },
        {
          "value": "border-bottom",
          "label": "Bottom"
        },
        {
          "value": "border-top border-bottom",
          "label": "Both"
        }
      ],
      "default": "",
      "label": "Line separator"
    },
    {
      "type": "header",
      "content": "Advanced"
    },
    {
      "type": "select",
      "id": "top_padding",
      "options": [
        {
          "value": "pt-0",
          "label": "0"
        },
        {
          "value": "pt-s05",
          "label": "0.5"
        },
        {
          "value": "pt-s",
          "label": "1"
        },
        {
          "value": "pt-s15",
          "label": "1.5"
        },
        {
          "value": "pt-s2",
          "label": "2"
        }
      ],
      "default": "pt-s",
      "label": "Top section spacing"
    },
    {
      "type": "select",
      "id": "bottom_padding",
      "options": [
        {
          "value": "pb-0",
          "label": "0"
        },
        {
          "value": "pb-s05",
          "label": "0.5"
        },
        {
          "value": "pb-s",
          "label": "1"
        },
        {
          "value": "pb-s15",
          "label": "1.5"
        },
        {
          "value": "pb-s2",
          "label": "2"
        }
      ],
      "default": "pb-s",
      "label": "Bottom section spacing"
    },
    {
      "type": "select",
      "id": "visibility",
      "options": [
        {
          "value": "visible-xs",
          "label": "Mobile"
        },
        {
          "value": "hidden-xs",
          "label": "Desktop"
        },
        {
          "value": "",
          "label": "Both"
        }
      ],
      "default": "",
      "info": "Lots of hidden content could be harmful for SEO.",
      "label": "Show on"
    },
    
  {
    "type": "checkbox",
    "id": "show_at_specific_time_of_day",
    "default": false,
    "label": "Only show at specific times of the day",
    "info": "Uses the customers' local time. Always shows in Theme Editor."
  },
  {
    "type": "paragraph",
    "visible_if": "{{ section.settings.show_at_specific_time_of_day }}",
    "content": "Lots of hidden content could be harmful for SEO. Don't overuse this."
  },
  {
    "type": "checkbox",
    "id": "show_time_morning",
    "visible_if": "{{ section.settings.show_at_specific_time_of_day }}",
    "default": true,
    "label": "Show in the morning (5am - 12pm)"
  },
  {
    "type": "checkbox",
    "id": "show_time_afternoon",
    "visible_if": "{{ section.settings.show_at_specific_time_of_day }}",
    "default": true,
    "label": "Show in the afternoon (12pm - 5pm)"
  },
  {
    "type": "checkbox",
    "id": "show_time_evening",
    "visible_if": "{{ section.settings.show_at_specific_time_of_day }}",
    "default": true,
    "label": "Show in the evening (5pm - 9pm)"
  },
  {
    "type": "checkbox",
    "id": "show_time_night",
    "visible_if": "{{ section.settings.show_at_specific_time_of_day }}",
    "default": true,
    "label": "Show at night (9pm - 5am)"
  }

  ]
}
{% endschema %}
